<!doctype html>
<html lang="en" ng-app="angularclass">
<head>
<meta charset="UTF-8">
<title>Angular</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"> </script>
<script src="js/controllers.js"></script>
</head>
<body>
<div ng-controller="PhoneListCtrl">

Search: <input ng-model="query">
  <p> You are searching for:{{query}}</p> 


<h1> Hello World <h1>
{{title}}
<p>Nothing here {{'loco' + '!'}}</p>

        <li ng-repeat="phone in phones | filter:query">
<ul>
    <li ng-repeat="phone in phones">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul>
<p>Total number of phones: {{phones.length}}</p>

 <table>
  <tr><th>row number</th></tr>
  <tr ng-repeat="i in numbersList"><td>{{i+1}}</td></tr>
</table>


</div>
 <div>
 <p> You are searching for:{{query}}</p>
 <p>show global hearder from the rootScope {{globalheader}}</p>
 </div>
 <!-- second controller -->
<div ng-controller="HeadingListCtrl">   
<span> {{heading}</span>
</div>

</body>
</html>
